---
import Section from "../Section.astro";
import SocialsIcon from "./SocialsIcon.astro";
import info from "@/cv";
import Location from "../../icons/Location.astro";
import Reddit from "@/icons/RedditIcon.astro";
import Email from "@/icons/Email.astro";

const { name, location, socials } = info;
---

<Section>
    <div class="flex justify-between w-full">
        <div class="w-1/2">
            <h3 class="text-black pb-4 text-wrap text-3xl font-bold">
                {name}
            </h3>
            <p class="text-gray-700 font-bold">
                Desarrollador full stack autodidacta
            </p>
            <div class="flex items-center text-sm">
                <Location />
                <p class="pl-2 text-textColor font-cour">
                    {location.city}
                </p>
            </div>
            <div class="mt-4 flex gap-2">
                <SocialsIcon Icon={Reddit} link={info.socials[1].link} />
                <button
                    data-copy-to-clipboard-target="email"
                    class="flex flex-col hover:bg-gray-200 rounded-lg transition-all ease-in duration-75 align-middle items-center text-center justify-center"
                >
                    <a
                        class="border-[2px] border-gray-400 p-1 rounded-lg"
                        title={socials[0].link}
                        href={socials[0].link}
                    >
                        <Email />
                    </a>
                </button>
            </div>
        </div>

        <img
            class="w-24 h-24 rounded-full"
            src="https://avatars.githubusercontent.com/u/108269492?v=4"
            alt="pf"
        />
    </div>
</Section>
