---
import Section from "../Section.astro";
import Pill from "./Pill.astro";
import AstroPill from "../Pills/AstroPill.astro";
import NextJSPill from "../Pills/NextJSPill.astro";
import ReactPill from "../Pills/ReactPill.astro";
import MongoPill from "../Pills/MongoPill.astro";
import JSpill from "../Pills/NextJSPill.astro";
import cv from "@/cv.json";
import React from "react";
---

<Section title="Knowledge">
    <div class="flex gap-2">
        <div
            class="flex-col border-2 rounded-xl justify-center text-center p-2 center w-1/3 border-gray-200"
        >
            <h2 class="font-bold mb-4">Frameworks</h2>
            <div class="flex flex-wrap justify-center gap-2">
                <NextJSPill data={cv.knowledge.frameworks[0]} />
                <AstroPill data={cv.knowledge.frameworks[1]} />
                <ReactPill data={cv.knowledge.frameworks[2]} />
            </div>
        </div>
        <div
            class="flex-col border-2 rounded-xl p-2 justify-center text-center center w-1/3 border-gray-200"
        >
            <h2>Databases</h2>
            <div class="flex gap-2">
                <MongoPill data={cv.knowledge.databases[0]} />
            </div>
        </div>
        <div
            class="flex-col border-2 justify-center rounded-xl text-center p-2 center w-1/3 border-gray-200"
        >
            <h2>Languages</h2>
            <div class="flex gap-2">
                <JSpill data={cv.knowledge.langs[0]} />
            </div>
        </div>
    </div>
</Section>
