---
import Section from "../Section.astro";
import AstroPill from "../Pills/AstroPill.astro";
import NextJSPill from "../Pills/NextJSPill.astro";
import ReactPill from "../Pills/ReactPill.astro";
import MongoPill from "../Pills/MongoPill.astro";
import JSpill from "../Pills/JSpill.astro";
import MySQLPill from "../Pills/MySQLPill.astro";
import TailwindPill from "../Pills/TailwindPill.astro";
import CSSPill from "../Pills/CSSPill.astro";
import BootstrapPill from "../Pills/BootstrapPill.astro";
import KnowledgeSection from "../sections/KnowledgeSection.astro";
import cv from "@/cv.json";
---

<Section title="Conocimientos">
  <div class="flex gap-2">
    <KnowledgeSection title="Frameworks">
      <NextJSPill data={cv.knowledge.frameworks[0]} />
      <AstroPill data={cv.knowledge.frameworks[1]} />
      <ReactPill data={cv.knowledge.frameworks[2]} />
    </KnowledgeSection>

    <KnowledgeSection title="Languages and Styling">
      <JSpill data={cv.knowledge.langsandstyling[0]} />
      <CSSPill data={cv.knowledge.langsandstyling[1]} />
      <TailwindPill data={cv.knowledge.langsandstyling[2]} />
      <BootstrapPill data={cv.knowledge.langsandstyling[3]} />
    </KnowledgeSection>
    <KnowledgeSection title="Databases">
      <MongoPill data={cv.knowledge.databases[0]} />
      <MySQLPill data={cv.knowledge.databases[1]} />
    </KnowledgeSection>
  </div>
</Section>
